<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
    <style>
        .new-main-heading {
            margin-top: -350px;
        }
       
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          var actorsNameInput = document.getElementById('actor_name');
      
          actorsNameInput.addEventListener('input', function() {
            var actorsName = actorsNameInput.value;
      
            if (!/^[A-Za-z ]+$/.test(actorsName)) {
              actorsNameInput.setCustomValidity('Only letters and spaces are allowed.');
            } else {
              actorsNameInput.setCustomValidity('');
            }
          });
      });
      </script>
</head>
<body>
    <div class="new-background-div">
        <h1 class="new-main-heading">Search By Actors</h1>
        <div class="new-search-bar-container">
            <form action="/search" method="post" class="search-form">
                <input type="text" id="actor_name" name="actor_name"  pattern="[A-Za-z ]+" title="Only letters and spaces are allowed" placeholder="Search by actors......." class="new-search-bar" >
                <button class="new-search-button" type="submit">Search</button>
                
            </form>
        </div>
       
    <script>
        function openPage(page) {
            window.location.href = page;
        }
    </script>
</body>
</html>
